<div class="jumbotron">
  <h1>Ремонт автомобилей</h1>
  <p>Ремонтное предприятие осуществляет ремонт автомобилей различных марок. Заказы могут проходить формально и в онлайн режиме.</p>
  <p><%= link_to "Товары", products_path,   class: 'btn btn-primary btn-lg' %></p>
</div>



