<h1>О нас</h1>
<br />
Наши реквизиты:<br />
Адрес: Пенза ул. Мира 666<br />
Тел. +79277777777<br />
e-mail: webstudio@mail.ru<br /><br />

Наша фирма занимается разработкой и продвижением сайтов.<br />
На нашем сайте вы сможете заказать сайт или купить ПО и шаблоны<br />
в разделе "Товары".