<h1>О нас</h1>
<br />
Наши реквизиты:<br />
Адрес: Пенза ул. Мира 666<br />
Тел. +79277777777<br />
e-mail: pcrepair@mail.ru<br /><br />

Наша фирма занимается ремонтом компьютерной техники.<br />
На нашем сайте вы сможете увидеть ваш заказ<br />